#cy1 {
    width:50%;
    height:50vh;
    border-right: solid black 0.5px;
    border-top: solid black 1px;
    box-sizing: border-box;
    float:left;
}
#cy2 {
    width:50%;
    height:50vh;   
    border-left: solid black 0.5px;
    border-top: solid black 1px;
    box-sizing: border-box;
    float:left;
}

#cy3 {
    width:100%;
    height:50vh;   
    border-top: solid black 1px;
    box-sizing: border-box;
    float:left;
}

#input-window {
    display: table;
    width:100%;
}

.input-panes {
    display: table-cell;
    vertical-align:middle;
    padding:8px;
}

h3 {
    margin:2px;
}

body {
    margin:0;
}