#cy1 {
    width:50%;
    height:35vh;
    border-right: solid black 1px;
    border-top: solid black 2px;
    box-sizing: border-box;
    float:left;
}
#cy2 {
    width:50%;
    height:35vh;   
    border-left: solid black 1px;
    border-top: solid black 2px;
    box-sizing: border-box;
    float:left;
}

#cy3 {
    width:100%;
    height:50vh;   
    border-top: solid black 2px;
    box-sizing: border-box;
    float:left;
}

#input-window {
    display: table;
    width:100%;
}

#first-pane {
    text-align: left;
}

.input-panes {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    width:33.33%;
    padding:8px;
}

h3 {
    margin:2px;
}

body {
    margin:0;
}